 .attribution { 
      font-size: 11px; text-align: center;
      display: flex;
      justify-content: center;
      gap: 5px;
      margin-top: 15px;
    }
    .attribution a {
      color: hsl(228, 45%, 44%);
    }

   body{
    background-color:hsl(212, 45%, 89%);
  
   }
    .container{
      width:250px;
      height:400px;
      background-color:hsl(0, 0%, 100%);
      margin-top:100px;
      border-radius:15px;
      margin-left:auto;
      margin-right:auto;
      font-family: 'Outfit', sans-serif;
      padding:20px;
      text-align: center;
    }
    .container img{
      width:240px;
      height:240px;
      border-radius:10px;
    }
    h3{
      color:hsl(218, 44%, 22%);
      font-size:15px;
      font-family: 'Outfit', sans-serif;
      font-weight:1000;
      text-align: center;
    }
    p{
      font-family: 'Outfit', sans-serif;
      font-size:15px;
      color:hsl(220, 15%, 55%);
      text-align: center;
    }


    @media (min-width:375px)and (max-width:1400px){
        .container{
            cursor: pointer
        };
    }